<div class="txt-center margin-bottom-18">
  <a href="#"><img src="../../assets/images/ad_728x90.png" alt=""></a>
</div>
<div class="clearFloat"></div>
<footer>
  <div class="about">
    <div class="title">Nous contactez</div>
    <p>Contact: <a href="mailto:">CykaDavaïBlyat@gmail.com</a></p>
  </div>
  <ul>
    <li class="title">Blyat Menu</li>
    <li><a href="#">All playlist</a></li>
    <li><a href="#">Playlist DashCam</a></li>
    <li><a href="#">Playlist Drunk</a></li>
    <li><a href="#">Playlist Crash</a></li>
    <li><a href="#">Playlist Fail</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <div class="clearFloat"></div>
  <div class="copy">
    <p>&copy; 2019 Blyat. All Rights Reserved | Design by DavaïBoy</p>
  </div>
</footer>
