
<!-- SIDEBAR START -->
<app-sidebar></app-sidebar>
<!-- SIDE BAR END -->

<div class="content">

    <!-- Header start -->
    <app-header></app-header>
    <!-- Header End -->

    <div class="part">
        <!-- playlist & video -->
        <app-manage-dashcam></app-manage-dashcam>
        <app-manage-drunk></app-manage-drunk>
        <app-manage-crash></app-manage-crash>
        <app-manage-fail></app-manage-fail>
        <!-- end playlist & video -->
    </div>

    <!-- Footer start -->
    <app-footer></app-footer>
    <!-- footer end -->

</div>

<div class="clearFloat"></div>
