<!-- Header start -->
<app-header style="background: white; width: 100%; height: 100px"></app-header>
<!-- Header End -->

<!-- SIDEBAR START -->
<app-sidebar></app-sidebar>
<!-- SIDE BAR END -->

<div class="content">



    <div class="part">
        <!-- playlist & video -->
        <app-manage-dashcam></app-manage-dashcam>
        <app-manage-drunk></app-manage-drunk>
        <app-manage-crash></app-manage-crash>
        <app-manage-fail></app-manage-fail>
        <!-- end playlist & video -->
    </div>


</div>

<div class="clearFloat"></div>
<!-- Footer start -->
<app-footer></app-footer>
<!-- footer end -->
