<div class="wrap">

  <!-- SIDEBAR START -->
  <app-sidebar></app-sidebar>
  <!-- SIDE BAR END -->

  <div class="content">

    <!-- Header start -->
    <app-header></app-header>
    <!-- Header End -->

    <div class="part">
    <!-- playlist & video -->
    <app-playlist-dashcam></app-playlist-dashcam>
    <app-playlist-drunk></app-playlist-drunk>
    <app-playlist-crash></app-playlist-crash>
    <app-playlist-fail></app-playlist-fail>
    <!-- end playlist & video -->
    </div>

    <!-- Footer start -->
    <app-footer></app-footer>
    <!-- footer end -->

  </div>
  <div class="clearFloat"></div>
</div>

