<div class="sidebar">
  <header>
    <div class="logo">
      <a href="#" title="Blyat"></a>
    </div>
    <div class="clearFloat"></div>
    <div class="search-box">
      <form>
        <input type="text">
        <input type="submit" value="">
      </form>
    </div>
    <div class="clearFloat"></div>
  </header>
  <div class="widget">
    <ul>
      <li class="active"><a routerLink="/blyat" routerLinkActive="active">All Playlist</a></li>
      <li><a routerLink="/dash" routerLinkActive="active">Dashcam</a></li>
      <li><a routerLink="/drunk" routerLinkActive="active">Drunk</a></li>
      <li><a routerLink="/crash" routerLinkActive="active">Crash</a></li>
      <li><a routerLink="/fail" routerLinkActive="active">Fail</a></li>
    </ul>
  </div>
  <div class="clearFloat"></div>
</div>

