<div class="sidebar">
    <header>
        <div class="clearFloat"></div>
        <!--<div class="search-box">
          <form>
            <input type="text">
            <input type="submit" value="">
          </form>
        </div>-->
        <div class="clearFloat"></div>
    </header>
    <div class="widget">
        <ul>
            <li class="sidebar-elem ">
                <a routerLink="/blyat" routerLinkActive="active" class="nav-item">
                    <i class="fas fa-home fa-lg sidebar-icon active"></i><span>Accueil</span>
                </a>
            </li>
            <div *ngIf="userAuthData">
            <li class="sidebar-elem">
                <a routerLink="/blyat-admin" routerLinkActive="active" class="nav-item">
                    <i class="fas fa-toolbox fa-lg sidebar-icon"></i><span>Administrer Playlist</span>
                </a>
            </li>
            <li class="sidebar-elem-last">
                <a routerLink="/blyat-manager" routerLinkActive="active" class="nav-item">
                    <i class="fas fa-screwdriver fa-lg sidebar-icon"></i><span>Modifier Playlist</span>
                </a>
            </li>
            </div>
        </ul>
    </div>
    <div class="widget">
        <ul>
            <li class="sidebar-elem">
                <a routerLink="/dash" routerLinkActive="active" class="nav-item">
                    <i class="fas fa-video fa-lg sidebar-icon"></i><span>Dashcam</span>
                </a>
            </li>
            <li class="sidebar-elem">
                <a routerLink="/drunk" routerLinkActive="active" class="nav-item">
                    <i class="fas fa-wine-bottle fa-lg sidebar-icon"></i><span>Drunk</span>
                </a>
            </li>
            <li class="sidebar-elem">
                <a routerLink="/crash" routerLinkActive="active" class="nav-item">
                    <i class="fas fa-car-crash fa-lg sidebar-icon"></i><span>Crash</span>
                </a>
            </li>
            <li class="sidebar-elem-last">
                <a routerLink="/fail" routerLinkActive="active" class="nav-item">
                    <i class="fas fa-exclamation-triangle fa-lg sidebar-icon"></i><span>Fail</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="clearFloat"></div>
</div>

