<div class="sidebar">
  <header>
    <div class="logo">
      <a href="#" title="Blyat"></a>
    </div>
    <div class="clearFloat"></div>
    <div class="search-box">
      <form>
        <input type="text">
        <input type="submit" value="">
      </form>
    </div>
    <div class="clearFloat"></div>
  </header>
  <div class="widget">
    <ul>
      <li class="active"><a href="#">All Playlist</a></li>
      <li><a href="#">Dashcam</a></li>
      <li><a href="#">Drunk</a></li>
      <li><a href="#">Crash</a></li>
      <li><a href="#">Fail</a></li>
    </ul>
  </div>
  <div class="clearFloat"></div>
</div>

