<!-- Header start -->
<app-header></app-header>
<!-- Header End -->
<div id="success" class="success-button">Success</div>

<app-sidebar></app-sidebar>
<div class="content">


  <!-- <div class="flex"><input id="yt" type="submit" class="yt-button" value="Ajouter a la playlist" (click)="highlightItem($event)"></div> -->
  <div class="part">
    <div class="search-box">
      <input #search type="text" (keyup.enter)="getVideo(search.value)">
      <input type="submit" value="" (click)="getVideo(search.value)">
    </div>
    <h2>Catégorie DashCam</h2>

    <div class="grid" *ngFor="let link of searchedVideosDash; let i = index">
      <div class="preview inline-flex">
        <iframe width="200" height="150" [src]="'https://www.youtube.com/embed/'+link.id.videoId | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <h3 class="preview-title">{{link.snippet.title}}</h3>
        <div class="flex"><input id="yt" type="submit" class="yt-button add-list-bt" value="Ajouter a la playlist" (click)="highlightItem(link.id.videoId, idDash)"></div>
      </div>
    </div>
    <div class="clearFloat"></div>

    <h2>Catégorie Drunk</h2>

    <div class="grid" *ngFor="let link2 of searchedVideosDrunk; let i = index">
      <div class="preview inline-flex">
        <iframe width="200" height="150" [src]="'https://www.youtube.com/embed/'+link2.id.videoId | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <h3 class="preview-title"><a href="video-play.html">{{link2.snippet.title}}</a></h3>
        <div class="flex"><input id="yt" type="submit" class="yt-button add-list-bt" value="Ajouter a la playlist " (click)="highlightItem2(link2.id.videoId, idDrunk)"></div>
      </div>
    </div>
    <div class="clearFloat"></div>

    <h2>Catégorie Crash</h2>

    <div class="grid" *ngFor="let link3 of searchedVideosCrash; let i = index">
      <div class="preview inline-flex">
        <iframe width="200" height="150" [src]="'https://www.youtube.com/embed/'+link3.id.videoId | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <h3 class="preview-title"><a href="video-play.html">{{link3.snippet.title}}</a></h3>
        <div class="flex"><input id="yt" type="submit" class="yt-button add-list-bt" value="Ajouter a la playlist" (click)="highlightItem3(link3.id.videoId, idCrash)"></div>
      </div>
    </div>
    <div class="clearFloat"></div>

    <h2>Catégorie Fail</h2>

    <div class="grid" *ngFor="let link4 of searchedVideosFail; let i = index">
      <div class="preview inline-flex">
        <iframe width="200" height="150" [src]="'https://www.youtube.com/embed/'+link4.id.videoId | safe" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
        <h3 class="preview-title"><a href="video-play.html">{{link4.snippet.title}}</a></h3>
        <div class="flex"><input id="yt" type="submit" class="yt-button add-list-bt" value="Ajouter a la playlist" (click)="highlightItem4(link4.id.videoId, idFail)"></div>
      </div>
    </div>
    <div class="clearFloat"></div>
  </div>
</div>
<div class="clearFloat"></div>

<p-toast position="bottom-right"></p-toast>
<!-- Footer start -->
<app-footer></app-footer>
<!-- footer end -->
