.content{
    background: #121212;
    color:#fff;
    float:left;
    width: 84%;
    margin-top: 65px;
    margin-left: 245px;
    margin-top: 65px;
    margin-left: 245px;
    padding-left: 50px;
    padding-top: 1%;
    min-height: 450px;
}
.part h2,
.part h1{
    font-weight:bold;
    font-size:16px;
    border-bottom:1px solid #2d2d2d;
}
.part h2,
.part h2 a,
.part h1,
.part h1 a{
    color:#2d2d2d;
}
.part{

}


.inline-flex {
    display: inline-flex;
}
.img-flex {
    display: flex;

}
.img-flex img {
    border-radius: 50%;

}
.comment-flex {
    display: block;
    flex-wrap: wrap;
}
p {
    margin: 5px;
    color: #ffffff;
}
.bold {
    font-weight: bold;
}

* {
    box-sizing: border-box;
}
.inp {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 280px;
}


.inp input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #2d2d2d;
    background: none;
    border-radius: 0;
    color: white;
    transition: all 0.5s ease;
}
.inp input:focus {
    border-bottom: 2px solid white;
}
.flex {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}
.yt-button {
    transition: all 0.5s ease;
    color: black;
    background-color: #606060;
    display: inline-flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    min-width: 5.14em;
    margin: 0 0.29em;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    font: inherit;
    text-transform: uppercase;
    outline-width: 0;
    border-radius: 5px;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    z-index: 0;
    padding: 0.7em 0.57em;
    padding: 10px 16px;
    white-space: nowrap;
    font-weight: 500;
    letter-spacing: .007px;
    border: 0;
    float:right;
}
.yt-button:hover {
    color: white;
    background-color: #FF0000;
}
.wrap{
    width:1000px;
    padding:0 12px;
    margin:0 auto;
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#121212;
}
